certifi==2024.2.2
charset-normalizer==2.0.12
idna==3.6
praw==7.7.1
prawcore==2.4.0
requests==2.26.0
update-checker==0.18.0
urllib3==1.26.18
websocket-client==1.7.0
pyspark==3.5.1
nltk==3.8.1
beautifulsoup4==4.9.3
bs4==0.0.2
dnspython==1.16.0
feedparser==6.0.11
pymongo==3.12.3
python-dotenv==0.19.2
gnews==0.3.6
newspaper3k==0.2.8
lxml==5.2.1
lxml_html_clean==0.1.1